body {
    font-family: 'Noto Sans';font-size: 22px;
}

body {
    margin-left: 1%;
    margin-right: 1%;
    width: auto;
}

.header {
    width: fit-content;
    font-size: 50px;
}

.card {
    margin-bottom: 5px;
    transition: all .2s ease-in-out;
    display: inline;
}

.card:hover {
    transform: scale(1.05);
}

.card-content {
    display:inherit;
}
.card-body {
    padding-top: 5px;
    padding-bottom: 5px;
    font-weight:bold;
    display: inline-block;
}

.card-footer-divider {
  border-left: 2px solid blue;
  height: 100%;
  left: 50%;
}

.card-footer-item {
    padding: 0px;
}

.card-tools-container {
    width: fit-content;
    margin: auto;
}

.card-tools-button {
    width: 24px;
    height:24px;
    margin-right: 0px;
    transition: all .2s ease-in-out;
    margin-right: 10px;
    display: inline;
}

.card-tools-button:hover {
    cursor:pointer;
    transform: scale(2);
}

.image {
    display: inline-block;
}

#control-buttons {
    margin: auto;
    width: fit-content;
}

.task-button {
    transition: all .2s ease-in-out;
    margin-right: 20px;
}

.task-button:hover {
    cursor: pointer;
    transform: scale(1.2);
}

.my-input {
    width: 400px;
}

.my-tabs {
    width: fit-content;
}

#task-table {
    width: 100%;
}

.control-button {
    margin-right: 20px;
    cursor: pointer; /* Change the cursor to a pointer */
}

.control-button:hover {
  transform: scale(1.5); /* Scale up the image */
  opacity: 0.8;          /* Slightly reduce opacity */
}

.control-button:hover {
}

#error-notification {
    position: fixed;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
    width: 100%;
    max-width: 600px;
    z-index: 1000;
    display: block;
}

#input-field {
    margin-bottom: 0px;
}

@media only screen and (max-width: 600px) {
    body {
        font-family: 'Noto Sans';font-size: 16px;
    }
    #input-field {
        width: 300px;
        margin-bottom: 0px;
    }
}
